spring:
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: 6075ef7f69e9d88ca1ed07de8021de56
            client-secret: FwFqgKtwh0126oDacEAIPBUdKQRc5nMT
            redirect-uri: http://54.180.149.181/login/oauth2/code/kakao
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope: profile_nickname, profile_image, account_email

          naver:
            client-id: MG98P9lLd7tCwGKAehml
            client-secret: jyUjWe2Vyy
            redirect-uri: http://54.180.149.181/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            scope: name, email, profile_image

        provider:
          kakao:
            authorization_uri: https://kauth.kakao.com/oauth/authorize
            token_uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user_name_attribute: id
          naver:
            authorization_uri: https://nid.naver.com/oauth2.0/authorize
            token_uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user_name_attribute: response